<h1>TRYangle Calculator</h1>
<h3>Enter the measurements of your possible triangle:</h3>
<form action="/">
  <div class="results"><p>Your triangle is <%= @result %> triangle.</p></div>
  <input type="text" name="side1" placeholder="Side 1">
  <input type="text" name="side2" placeholder="Side 2">
  <input type="text" name="side3" placeholder="Side 3">
  <span>9</span>
  <span>8</span>
  <span>7</span>
  <span>6</span>
  <span>5</span>
  <span>4</span>
  <span>3</span>
  <span>2</span>
  <span>1</span>
  <button type="submit">Yo, check it!</button>
</form>
